@{
    ViewData["Title"] = "Home Page";
}

<div class="container home">
    <div class="text-center justify-content-center home-heading">
        <h1 class="display-4">Welcome</h1>
        <p>to the FitnessDiary official page. You can view the full list of available Foods <a href="/Food/Index">Here</a></p>
    </div>
   @* <figure>
        <img src="~/img/background.jpg" class="home-background" />
    </figure>*@
</div>